.lmj-banner {
    color: black;
    text-align: right;
    padding: 1rem;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2em;
    ;
}

.lmj h1,
.reco {
    align-self: flex-end;
}

img {
    height: 7rem;
    width: 12rem;

}