.lmj-plant-list {
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.lmj-plant-item {
    padding: 0.5rem 0rem;
    margin: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}